h1{
    background-color: black;
    color: white;
    text-align: center;
    font-size: 40px;
}
.minhadiv{{
    
        position: absolute;
        margin-right: 30px;
        margin-left: 60px;
}
}

.minhadiv1{
    color: black;
    text-align: center;
    font-size: 30px;
}

.minhadiv2{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    height: 100px;
}
