h1{
    background-color: black;
    color: white;
    text-align: center;
}
.minhadiv{
img{
    width: 100%;
    height: 50%;
    position: absolute;
    margin-right: 30px;
    margin-left: 30px;
}
}
.minhadiv1{
    color: black;
}

.minhadiv2{
    .caixa{
    .caixa1
     
        width:20px;
        height:20px;

    }
}
